Package: com.rpetrich.videopace
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Description: Increase speed of video playback
Name: VideoPace 2
Depends: firmware (>= 9.3), mobilesubstrate, preferenceloader, applist, com.rpetrich.rocketbootstrap
Depiction: http://rpetri.ch/cydia/videopace/
Icon: file:///System/Library/PreferenceBundles/VideoSettings.bundle/icon.png
Author: Ryan Petrich
Maintainer: Lavie Gariv
Version: 2.0.0
